body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-section {
    background: url('background.jpg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: #000; /* Black text color for the heading and text on the background */
}

.social-icons {
    text-align: right;
    margin-bottom: 10px; /* Adjust spacing between icons and cover page */
}

.social-icon {
    width: 30px; /* Adjust the width of the icons as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px;
    text-align: top right; /* Adjust spacing between icons */
}
.navbar {
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    padding: 10px 0;
    text-align: center;
}
.nav-links {
    margin-right: auto;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a  {
    color: #000; /* Black text color */
    text-decoration: none;
}



.text-container {
    flex: 1;
}

.main-heading {
    font-size: 24px;
    font-weight: bold;
    color: #000; /* Black text color for the heading */
width: 100%;
max-width: 960px;
text-align: left;
content{
margin-top: 40px;
}
}

.percentage-section {
    display: flex;
    align-items: center;
}

.percentage-symbol {
    color: #800080; /* Purple color for the percentage symbol */
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.experience-text {
    color: #800080; /* Purple color for the experience text */
    font-size: 24px;
    font-weight: bold;
}

.person-container {
    flex: 1;
}

.person-image {
    width: 100%;
    border-radius: 10px;
}

.statistics-section {
    background-color: #f4f4f4; /* Light gray background for the statistics section */
    text-align: center;
    padding: 50px;
}

.statistic {
    color: #333; /* Dark gray text color */
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.statistic-value {
    color: #000; /* Black text color for the statistic values */
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
}

.signin-section {
    text-align: left;
    padding: 20px;
    margin-top: 50px; /* Adjust the distance from the statistics section */
}
                                                                                                                                                                                          


.email-input {
.left-aligned {
    text-align: left;
}

    padding: 10px;
    margin-right: 10px;
}

.signin-button {
.left-aligned {
    text-align: left;
}
    padding: 10px 20px;
    background-color: #0074cc; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}